<launch>

  <node pkg="exercise3" type="generate_path" name="generate_path" output="screen">
    <param name="img" value="/home/simon/FRI/RIS/mapNo2.pgm"/>
    <param name="img_yaml" value="/home/simon/FRI/RIS/mapNo2.yaml"/>
    <param name="step" value="12"/>
    <param name="erosion" value="6"/>
  </node>

</launch>
