<launch>

  <node pkg="cryptomaster" type="cryptomaster.py" name="cryptomaster.py" output="screen">
    <param name="img" value="/home/dominik/ROS/src/maps/bigMap.pgm"/>
    <param name="img_yaml" value="/home/dominik/ROS/src/maps/bigMap.yaml"/>
    <param name="step" value="11"/>
    <param name="erosion" value="13"/>
    <remap from="goal" to="/move_base_simple/goal" />
  </node>

</launch>
